* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body{
  background-color: black;
  height: 100%;
  width: 100%;
  font-family: Arial -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.main-container{
  min-height: 90%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.container {
  position: relative;
  font-size: 5vw;
}

#bang:hover{
  display: inline-block;
  transform-origin: center 70%;
  animation: rotate 2s linear infinite;
}


.topbar{
  position: relative;
  top: 0em;
  padding-top: 2em;
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding-bottom: 2em;
  border-bottom: 0.1px solid;
  border-color: inherit;
}

.bottom {
  position: relative;
  text-align: center;
  bottom: 1em;
  color: grey;
  line-height: 1.5;
}

#bottom-linkedin {
  text-decoration: none;
}

.chevron {
  font-size: 50px;
}

.topbar > a{
  color: inherit;
  font-size: 1.5rem;
  text-decoration: none;
  cursor: pointer;
}


.borderLeftRight {
  display: inline-block;
  position: relative;
}

.borderLeftRight::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.borderLeftRight:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

small{
  color: #403b3b;
}

.project-container{
  min-height: 100%;
  min-width: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
  line-height: 1.5;
  margin: 10px;
}

.project-container::after {
  content: "";
  background: repeating-linear-gradient(90deg,white, white 20px, black 20px, black 40px);
  position: relative;
  width: 50%;
  bottom: -12px;
  height: 2px;
}

.project-header{
  text-align: center;
  flex: 2;
  margin: 2em;
}

.project{
  flex: 2;
  margin: 2em;
}


.project > h3 {
  cursor: pointer;
  font-size: 2rem;
  color: #58a6ff
}

.clickable{
  cursor: pointer;
  color: rgb(97,215,198);
  text-decoration: none;
  font-size: 1em;
}

.desc{
  margin-top: 1em;
}

.logo{
  height: 1em;
  width: auto;
  bottom: -3px;
  position: relative;
}

.responsibilities{
  color: rgb(97,215,198);
}

ul{
  margin-left: 1em;
}

.subheader{
  color: #403b3b;
}

/*BREAKPOINTS*/

@media (prefers-color-scheme: white) {
  html, body{
    background-color: white;
    color: black;
  }

  .borderLeftRight::after{
    background-color: hsl(243, 80%, 62%);;
  }
}

@media screen and (min-width: 768px) {
  .project{
    width: 60vw;
  }
  /* .topbar{
    position: -webkit-sticky;
    position: sticky;
    background-color: black;
    z-index: 100;
  } */
}


@media screen and (max-width: 768px) {
  .container {
    font-size: 10vw;
  }
  a{
    font-size: 4vw;
}
}



/* ANIMATIONS */

.switch-div{
  position: absolute;
  display: flex;
  align-items: center;
  margin-top: 10px;
  top: 100%;
  background-color: transparent;
  color: white;
  border: none;
  padding: 3px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@keyframes rotate {
  100%{
    transform: rotate(1turn);
  }
}

.cube{
  height: 50px;
width: 50px;
/* border: 2px solid white; */
position: absolute;
opacity: 0;
background: url('maple.webp') center;
background-size: cover;
}

.cube0{
  left: 10%;
  top: 20%;
  animation: 8s cube linear infinite;
}

.cube1{
  left: 80%;
  top: 30%;
  animation: 8s cube linear infinite;
  animation-delay: 1s;
}

.cube2{
  left: 70%;
  top: 80%;
  animation: 8s cube linear infinite;
  animation-delay: 1s;
}
.cube3{
  left: 20%;
  top: 75%;
  animation: 8s cube linear infinite;
  animation-delay: 3s;
}
.cube4{
  left: 60%;
  top: 60%;
  animation: 8s cube linear infinite;
  animation-delay: 4s;
}
.cube5{
  left: 65%;
  top: 65%;
  animation: 8s cube linear infinite;
  animation-delay: 5s;
}
.cube6{
  left: 32%;
  top: 24%;
  animation: 8s cube linear infinite;
  animation-delay: 7s;
}
.cube7{
  left: 40%;
  top: 77%;
  animation: 8s cube ease-out infinite;
  animation-delay: 6s;
}

/* @keyframes cube {
  0%{
    transform: rotate(0deg);
      opacity:0
  }
  10%{
    transform: rotate(0deg);
      opacity:0
  }
  80%{
    transform: rotate(360deg) scale(3);
    opacity: 1;
  }
  100%{
    transform: rotate(360deg) scale(3);
    opacity: 0;
  }

} */

@keyframes cube {
  0%{
    transform: translate(0) rotate(0deg);
      opacity:0
  }
  50%{
    transform: translate(-50px, 50vh) rotate(-300deg);
    opacity: 1;
  }
  90%{
    transform: translate(25px,90vh) rotate(45deg);
    opacity: 1;
  }
  100%{
    transform: translate(30px,100vh) rotate(50deg);
    opacity: 0;
  }

}

/* SWITCH */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.blank{
  opacity: 0;
  display: none;
}