* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: normal;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
  font-variant-numeric: tabular-nums;
  font-family: monospace;
}


/* general styling */
html,
body {
  height: 100%;
  margin: 0;
}

body {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #126060;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Handlee', cursive;
  color: white;
  mix-blend-mode: difference;
}

.container {
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
}

* {
  box-sizing: border-box;
}

#topbar {
  position: absolute;
  top: 1em;
  right: 1em;
}

a {
  color: white;
  mix-blend-mode: difference;
  font-size: large;
  text-decoration: none;
}

.footer {
  position: absolute;
  bottom: 2em;
  text-align: center;
  width: 100%;
  line-height: 1.2rem;
  font-size: small;
}

.footer a {
  font-size: small;
}

#colorDiv{
  font-family: monospace;
}